<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		.txt{font-weight: bold; font-size:45px;}
		body{background-image: url('{{url_for("static",filename="img/food2.jpg")}}'); background-size: cover;background-repeat: no-repeat;}

	</style>
</head>
<body>

	<div class="container-fluid main">
		<div class="row">
			<div class="col text-white" style="height:80px;border:3px solid;border-style: ridge;box-shadow: 10px 10px 10px gray;background-color: navy;">
				<div class="text-center txt">Restaurant Review Prediction</div>
			</div>
		</div>

		<form action="/predict" method="post">
		<div class="mt-5" style="width:750px;height:510px;margin-left:300px; box-shadow: 10px 10px 5px 5px gray;border:5px solid;border-radius: 50px;border-style: ridge;background-color: powderblue">
			<div class="row">
				
					<div class="col-3">
						<div class="form-group">
							<h4 class="mt-4 ml-5" style="color: navy;">Comment</h4>
						</div>
					</div>

					<div class="col">
						<div class="form-group">
							<textarea placeholder="Type Comment here...." class="form-control mt-4" rows=9 name="inp" style="width: 500px;"></textarea>
						</div>
						
					</div>
			</div>


			<div class="row">
				<div class="col-8 offset-3 mt-3">
					<div class="form-group">
						<button type="" class="form-control bg-success" style="font-size: 20px;border:3px;border-style:outset;border-radius: 20px;color:white;">Predict</button>
						
					</div>
				</div>
				
			</div>


			<div class="row">
				<div class="col-8 offset-3">
					<div class="form-group">
							<textarea class="form-control mt-4 text-center font-weight-bold pt-3" rows=2 style="width: 500px;font-size: 23px;border:2px;border-style: ridge;border-radius: 20px;background-color: white;" readonly>{{p}}</textarea>
						</div>
					
				</div>
				
			</div>

		</div>
	</form>
	</div>

</body>
</html>